@tailwind base;
@tailwind components;
@tailwind utilities;
/* Classes personnalisées pour les marges */
.ml-20 {
  margin-left: 5rem;
}
.ml-64 {
  margin-left: 16rem;
}
.ml-72 {
  margin-left: 18rem;
}
